.Navbar {
    position: fixed;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    display: flex;
    width: 165px;
    background: var(--header-main-color-op);
    transition: 200ms;
}
.link {
    text-decoration: none;
}
.listConainer {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.listConainer .link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 0px;
    margin-top: 2px;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
}
.listConainer > .link:hover {
    cursor: pointer;
}
.listConainer > .link:hover .icon {
    cursor: pointer;
    transform: rotate(10deg);
    transition: 200ms;
}
.link .icon {
    margin-right: 15px;
    font-size: 25px;
}
.hideNav {
    width: 55px;
}
@media (max-width: 750px) {
    .hideNav {
        width: 0px;
    }
}
