* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
}
body {
    background: var(--bg-color);
}
:root {
    --header-main-color: #439134;
    --header-main-color-op: #243a20;
    --brand-font-color: white;
    --bg-color: rgb(35, 35, 35);
    --input-color: rgb(53, 53, 53);
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--header-main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--header-main-color-op);
}
.Container {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    overflow: auto;
    overflow-x: hidden;
}
