* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
}
body {
    background: var(--bg-color);
}
:root {
    --header-main-color: #439134;
    --header-main-color-op: #449134a8;
    --brand-font-color: white;
    --bg-color: rgb(35, 35, 35);
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--header-main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--header-main-color-op);
}
